@import "variables";
h1 {
    color: $red-colof;
}
h2 {
    color: aqua;
}
.checkbox-select-all-options {
    width: 170px;
    margin: 0 16px;
}
// .centered-content {
//     margin: 0 3px;
//     display: block;
// }
