@import "variables";
h1 {
    color: $red-colof;
}
h2 {
    color: aqua;
}
.checkbox-select-all-options {
    width: 170px;
    margin: 0 16px;
}
// .centered-content {
//     display: flex;
// }
.centered-content {
    margin-left: 30px;
    margin-right: 30px;
}
